{% extends "lots/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if trade.status == 1 %}
        <div class="alert alert-success" role="alert">
            <div class="container">
                <div class="row justify-content-center">{% translate "Lot at auction" %}</div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <div class="container">
                <div class="row justify-content-center">{% translate "The bidding has been completed" %}</div>
            </div>
        </div>
    {% endif %}
{% endblock title %}
{% block content_ %}
    <div class="card m-2" style="width: 38rem;">
        <p class="h1">{{ lot.title }}</p>
        <hr class="border border-primary border-1 opacity-50">
        <img src="{{ lot.picture.url }}" class="card-img-top" alt="Oops...">
        <hr class="border border-primary border-1 opacity-50">
        <div class="card-body">
            <h5 class="card-title">{{ lot.description }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="link-warning"
                   href="{% url 'categories:category' category_slug=lot.category.slug %}">{% translate "Category: " %}{{ lot.category }}</a>
            </li>
            <li class="list-group-item">{% translate "Current price: " %}{{ trade.current_price }}</li>
            <li class="list-group-item">{% translate "Start price: " %}{{ lot.start_price }}</li>
            <li class="list-group-item">
                <a class="link-warning"
                   href="{% url 'users:accounts:browse' username=lot.seller.username %}">{% translate "Seller: " %}{{ lot.seller.username }}</a>
            </li>
            <li class="list-group-item">
                {% if trade.buyer__username %}
                    <a class="link-warning"
                       href="{% url 'users:accounts:browse' username=trade.buyer__username %}">{% translate "Buyer: " %}{{ trade.buyer__username }}</a>
                {% else %}
                    {% translate "Buyer: None" %}
                {% endif %}
            </li>
            <li class="list-group-item">{% translate "Address: " %}{{ address }}</li>
        </ul>
        {% if trade.status == 1 %}
            <div class="card-body">
                {% if request.user.id != lot.seller_id %}
                    <a type="button"
                       class="btn btn-primary"
                       href="{% url 'bids:bid' lot_id=lot.id %}">{% translate "Bid" %}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content_ %}
