{% extends "users/base.html" %}
{% load i18n %}
{% block content_ %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title">
                <h4>{% translate "Change password" %}</h4>
            </div>
            <form method="post" action="{% url 'users:change_password' %}" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">{% translate "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock content_ %}
