{% extends "users/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Registration" %}
{% endblock title %}
{% block content_ %}
    <form method="post"
          action="{% url 'users:registration' %}"
          class="form"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}<li>{{ field.label }}: {{ error }}</li>{% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">{% translate "First name" %}</label>
                {{ form.first_name }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">{% translate "Last name" %}</label>
                {{ form.last_name }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.username.id_for_label }}" class="form-label">{% translate "Username" %}</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="{{ form.city.id_for_label }}" class="form-label">{% translate "City" %}</label>
                {{ form.city }}
            </div>
            <div class="col-md-5">
                <label for="{{ form.avatar.id_for_label }}" class="form-label">{% translate "Avatar" %}</label>
                {{ form.avatar }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.age.id_for_label }}" class="form-label">{% translate "Age" %}</label>
                {{ form.age }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.email.id_for_label }}" class="form-label">{% translate "Email" %}</label>
                {{ form.email }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.password1.id_for_label }}" class="form-label">{% translate "Password" %}</label>
                {{ form.password1 }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.password2.id_for_label }}" class="form-label">{% translate "Repeat password" %}</label>
                {{ form.password2 }}
            </div>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">{% translate "Ready" %}</button>
        </div>
    </form>
{% endblock content_ %}
