{% extends "users/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Track sales" %}
{% endblock title %}
{% block content_ %}
    <hr class="border border-primary border-1 opacity-50">
    <h1 class="display-3" style="text-align: center;">{% translate "Active" %}</h1>
    <div class="d-flex flex-wrap">
        {% if active %}
            {% for trade in active %}
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{ trade.lot.picture.url }}"
                         class="card-img-top"
                         width="280"
                         height="180"
                         alt="Oops...">
                    <div class="card-body">
                        <h5 class="card-title">{{ trade.lot.title }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{% translate "current price:" %} {{ trade.current_price }}</li>
                            <li class="list-group-item">{% translate "start price:" %} {{ trade.lot.start_price }}</li>
                        </ul>
                        <a href="{% url "lots:inspect" lot_id=trade.lot.id %}"
                           class="btn btn-primary">{% translate "Go to lot" %}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">{% translate "Its empty here" %}</div>
        {% endif %}
    </div>
    <hr class="border border-primary border-1 opacity-50">
    <h1 class="display-3" style="text-align: center;">{% translate "Completed" %}</h1>
    <div class="d-flex flex-wrap">
        {% if completed %}
            {% for trade in completed %}
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{ trade.lot.picture.url }}"
                         class="card-img-top"
                         width="280"
                         height="180"
                         alt="Oops...">
                    <div class="card-body">
                        <h5 class="card-title">{{ trade.lot.title }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{% translate "current price:" %} {{ trade.current_price }}</li>
                            <li class="list-group-item">{% translate "start price:" %} {{ trade.lot.start_price }}</li>
                            <li class="list-group-item">{% translate "current buyer:" %} {{ trade.buyer }}</li>
                        </ul>
                        <a href="{% url "lots:inspect" lot_id=trade.lot.id %}"
                           class="btn btn-primary">{% translate "Go to lot" %}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">{% translate "Its empty here" %}</div>
        </div>
    {% endif %}
{% endblock content_ %}
