{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search" style="width: 100%;">
                <input class="form-control me-2"
                       type="search"
                       placeholder="{% translate "Search in a category:" %} {{ title }}"
                       aria-label="Search"
                       style="width: 100%">
                <button class="btn btn-outline-success" type="submit">{% translate "Search" %}</button>
            </form>
        </div>
    </nav>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>{{ description }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">{{ title }}</figcaption>
    </figure>
    <div class="d-flex flex-wrap">
        {% for lot in lots %}
            <div class="card m-2" style="width: 18rem;">
                <img src="{{ lot.picture.url }}" class="card-img-top" alt="Oops...">
                <div class="card-body">
                    <h5 class="card-title">{{ lot.title }}</h5>
                    <h6 class="card-title">{% translate "price:" %} {{ lot.price }}</h6>
                    <a href="#" class="btn btn-primary">{% translate "Go to lot" %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
